.section {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .galleryScreen {
    width: 50%;

    .galleryTitle {
      color: #D4C17F;
      font-family: "Playfair Display", sans-serif;
    }

    .galleryImages {
      margin-top: 40px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;

      .imagesRow1, .imagesRow2{
        display: flex;
        gap: 70px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .section {
    .galleryScreen {
       .galleryImages {
         margin-top: 25px;

         .imagesRow1,
         .imagesRow2 {
           flex-direction: column;
         }
       }
    }
  }
}

