* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  background: #242B33;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}